body            { font-family: "Open Sans",sans-serif; background: #eee;  }

h1.post         { border-bottom: 2px solid #444444; font-family: Tahoma,Arial sans-serif; margin: 0; }
h2.post         { font-size: 1em; color: #08409A; font-family: Tahoma,Arial sans-serif; margin: 0; }
text            { color: crimson; font-family: Tahoma,Arial sans-serif; font-size: 12px;}
small           { font-family: 'Open Sans',Sans-serif; font-size: 11px;}
pre             { white-space: pre-wrap; margin: 10px; }
hr              { width:97%; }
textarea        { max-width:99%; width:100%; }
img             { max-width:100%; max-height:100%; }


.page           { margin: 1em auto; width: 900px; padding: 0.8em; }
.entries        { border:1px; list-style: none; margin: 0; padding: 0;}
li.entries      { margin: 0.8em 1.2em;}
.users td       { border:1px solid grey; border-collapse:collapse; table-layout:fixed; }
.users th       { border:1px solid grey; border-collapse:collapse; table-layout:fixed; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.5em;}
.login          { text-align: center;}
.posts          { border:1px solid; width:100%; solid grey; border-collapse:collapse; table-layout:fixed;  background:#fff; border: 1px solid #d8d8d8;}
.post_head      { border:2px; width:100%; table-layout:fixed; padding: 10px 0px 0px; }
.left           { text-align: left;}
.right          { text-align: right;}
.red            { color: red; font-size: 19px;}
.green          { color: green; font-size: 19px;}
.visible        { color: #9743FF; }
.id_note        { color: rgba(0,0,0,0.4); }
.hidden_post    { display: none; background-color: #BDBDBD; }
.error_template { text-align: center; padding: 200px; }

.not_like_link_id       {text-decoration: none; color: rgba(0,0,0,0.4);}
.not_like_link_user     {text-decoration: none; color: hsla(242, 88%, 54%, 0.81); }

.vk_image       { width: 28px; height: 28px; border-radius: 50%; border: 0; vertical-align: middle;}


ul.head { list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333; }
li { float: left; }
li a { display: block; color: white; text-align: center; padding: 11px 16px; text-decoration: none; }
li a:hover:not(.active) { background-color: #111; }
.used_button { background-color: #000; }
.green_button { background-color: #4CAF50; padding: 11px 16px; }


/*
 * Create dark grey header with a white logo
 */

table.head      { border-collapse: collapse; width:100%; }
td.head         { width:1px; }

header {
  position: fixed;
  background-color: #2B2B2B;
  height: 35px;
  width: 99%;
  opacity: .9;
}

/*
 * Center the body content
 */

.container {
  margin: 0 auto;
  color: #999;
}


/*
 *  JQUERY
 */

#user_list {
    display: none;
    font-family: Tahoma,Arial sans-serif;
   	border-radius: 5px;
	border: 2px solid #BFBFBD;
	background-color: #E8E8E5;
	text-align: center;
	font-family: Garamond, serif;
	width: 180px;
	float: left;
    margin: 20px;
    position: fixed;
}


#auth_form {
    display: none;
    font-family: Tahoma,Arial sans-serif;
   	border-radius: 20px;
	background-color: rgba(81, 118, 156, 0.71);
	text-align: center;
	width: 250px;
	float: right;
    margin: 20px;
    right: 0px;
    position: fixed;
    padding: 10px 15px 20px 15px;
}


.flash {
    display: none;
    font-family: Tahoma,Arial sans-serif;
	background: #cee5F5;
	padding: 0.5em;
	border: 1px solid #aacbe2;
	left: 1px;
	width: 100%;
    bottom: 0px;
    text-align: center;
    position: fixed;
}

.message_ok {
    display: none;
    font-family: Tahoma,Arial sans-serif;
	background: #D8F3DC;
	padding: 0.5em;
	border: 1px solid #AAE2B1;
	left: 1px;
	width: 100%;
    bottom: 0px;
    text-align: center;
    position: fixed;
}

.message_error {
    display: none;
    font-family: Tahoma,Arial sans-serif;
	background: #f0d6d6;
	padding: 0.5em;
	border: 1px solid #D69090;
	left: 1px;
	width: 100%;
    bottom: 0px;
    text-align: center;
    position: fixed;
}
