<!doctype html>
<title>
{% block title %} {% endblock %}
</title>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script defer src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script defer type=text/javascript src="{{ url_for('static', filename='js/app_jquery.js') }}"></script>
    <!--<script defer type=text/javascript src="{{ url_for('static', filename='js/functions.js') }}"></script>-->
</head>

<!-- шапка -->
<header>
<ul class="head">
    <table class="head">
        <td>
            <li><a id="user_list_button"> ||| </a></li>
            <li><a href="{{ url_for('view_auth.show_notes') }}"> Загальний </a></li>

        {% if session.logged_user %}
            <li><a href="{{ url_for('view_auth.show_notes', user_id=session.get('user_id')) }}" style="padding: 0px">
                <div class="green_button" style="padding: 6px 16px">
                    Мої записи
                    <img src="{{session.get('photo')}}" class="vk_image"/>
                </div> </a>
            </li>
        {% endif %}

        {% if view_user %}
            <li style="float:none"><a style="padding: 6px">Записи користувача <u>{{view_user.user_name}}</u> <img src="{{view_user.photo}}" class="vk_image"/> </a> </li>
        {% else %}
            <li style="float:none"><a style="padding: 6px">Записи <u>всіх</u> користувачів <img src="http://new.vk.com/images/deactivated_50.png" class="vk_image"/> </a></li>
        {% endif %}
        </td>

        {% if session.logged_admin %}
            <td>
                <li style="float:right"><a class="green_button" href="{{ url_for('view_auth.show_users') }}"> юзери </a></li>
            </td>
        {% endif %}

        {% if session.logged_user %}
            <td class="head">
                <li style="float:right"><a class="green_button" href="{{ url_for('view_auth.logout') }} "> вийти </a></li>
            </td>
        {% endif %}

        {% if not session.logged_user %}
            <td>
                <li style="float:right"><div class="green_button" id="auth_button"> зайти </div></li>
            </td>
        {% endif %}

    </table>
</ul>
</header>

<br><br>

<!-- вікно з юзерами -->
<div id="user_list"> <!-- style="display:none" -->
        Виберіть користувача:<br>
    {% for user in users %}
        <a href="{{ url_for('view_auth.show_notes', user_id = user.id) }}"> {{ user.user_name }} </a> <br>
    {% endfor %}
        <a href="{{ url_for('view_auth.show_notes', user_id = 0) }}"> <u> Видаленні </u></a><br>
</div>


<!-- вікно авторизації -->
<div id="auth_form"> <!-- style="display:none" -->
        Авторизація<br>
<table>
    <tr>
<!-- auth vk.com -->
<td>
<div class="left">
    <a href="{{ url_for('view_auth.auth_vk') }}">
      <img src="{{ url_for('static', filename='img/vk.png') }}" />
    </a>
</div></td>

<!-- auth google.com -->
<td>
<div class="left">
    <a href="{{ url_for('view_auth.auth_gplus') }}" title="скоро буде, сподіваюсь">
      <img src="{{ url_for('static', filename='img/gplus.png') }}" />
    </a>
</div></td>

    </tr>
</table>
</div>


<!-- пости -->
<div class=page>
    {% block body %} {% endblock %}
</div>

<!-- default flash message -->
{% for message in get_flashed_messages() %}
    <div class=flash style="display: block;">{{ message }}</div>
{% endfor %}

<!-- інформаційне вікно -->
<div class='message_ok'></div>
<div class='message_error'></div>