{% extends "layout.html" %}
{% block body %}

<!-- форма вводу тексту -->
<form action="{{ url_for('add_note') }}" method="post"
>
    {{ form.hidden_tag() }}
    <dl>
        <dd> {{ form.blog_text(rows=7, cols=70, placeholder="Текст напишіть тут. Можливе використання тегів") }}
            {% for message in form.blog_text.errors %}
            <text>{{ message }}</text>
            {% endfor %}
        <dd> {{ form.submit }}
    </dl>
</form>


<!-- шапка комента -->
<ul class="entries">


    {% for note in notes %}
    <table class="post_head">
        <li>
            <td class="left">
                <h2 class="post"> {{ note.user_name }} </h2>
            </td>

            <td class="right">
                <small>
                    <form name="FormToSend_{{note.id}}" action="{{ url_for('del_note', note_id = note.id) }}"
                          method="post">

                        {{ note.timestamp }}

                        <!-- соус поста -->
                        {% if session.logged_admin %}
                        <a href="{{ url_for('show_note_source', note_id = note.id) }}"> source </a>
                        {% endif %}

                        <!-- кнопка видалення -->
                        {% if session.logged_admin or session.user_name == note.user_name %}

                        <a href="{{ url_for('del_note', note_id = note.id) }}"
                           onclick="document.getElementById('delete_{{note.id}}').style.display='inline'; return false;">
                            стерти </a>
                        <span id="delete_{{note.id}}" style="display:none;">
                        <a href="#" onclick="document.FormToSend_{{note.id}}.submit();">
                            <abbr title="Так">
                                <b class="green"> &#8730; </b>
                            </abbr>
                        </a>
                            /
                        <a href="#" onclick="document.getElementById('delete_{{note.id}}').style.display='none'; return false;">
                            <abbr title="Ні">
                                <b class="red"> &times; </b>
                            </abbr>
                        </a>
                        </span>

                        {% endif %}
                    </form>
                </small>
            </td>
    </table>


    <!-- тіло комента -->
    <table class="posts">
        <td>
            <pre> {{ note.text|safe }} </pre>
        </td>
    </table>


    {% else %}
    <li><em>Неймовірно. Жодно запису!</em>
    {% endfor %}
</ul>


{% endblock %}