{% extends "layout.html" %}
{% block title %}
Список користувачів
{% endblock %}
{% block body %}

<h2>Управління користувачами</h2>


<!-- шапка юзерів -->
{% if users %}
<table class="users">
    <tr>
        <th> ід </th>
        <th> фото </th>
        <th> ім'я </th>
        <td> всього записів </td>
        <td> видних записів </td>
        {% if session.logged_admin %}
        <th> client_id </th>
        <th> portal </th>
        <th> status </th>
        <th> is_admin </th>
        <th> видалити </th>
        {% endif %}
    </tr>
{% endif %}

    {% for user in users %}

    <tr id="{{ user.id }}">
        <td>{{ user.id }}</td>
        <td><a href ="{{ user.photo }}"> <img src="{{ user.photo }}" class="vk_image"/> </a></td>
        <td><a href="{{ url_for('view_notes.show_notes', user_id = user.id) }}"> {{ user.user_name }} </a></td>
        <td>{{ user.count_all_notes }}</td>
        <td>{{ user.count_visible_notes }}</td>
        {% if session.logged_admin %}
        <td>{{ user.client_id }}</td>
        <td>{{ user.portal }}</td>
        <td name="status">  <div id="{{ user.status }}">{{ user.status }}</div></td>
        <td name="is_admin"><div id="{{ user.is_admin }}">{{ user.is_admin }}</div></td>

        <!-- блок видалення юзера -->
        <td>
            <!-- кнопка видалення -->
            <img src="{{ url_for('static', filename='img/trash.png')}}" name="delete_everything" id="{{ user.id }}" title="Видалити" />
            <span id="{{user.id}}" name='delete_hide_form' style="display:none;">
                <abbr title="Видаляй" name='delete_yes'>
                    <img src="{{ url_for('static', filename='img/accept.png') }}"/>
                </abbr>
                    /
                <abbr title="Я передумав" name="delete_no">
                    <img src="{{ url_for('static', filename='img/cancel.png') }}"/>
                </abbr>
            </span>
        </td>
        {% endif %}

    </tr>
    {% else %}

<li><em>Неймовірно. Жодно логіну!</em>
    {% endfor %}

</table>


<!-- Пагінатор -->
<table class="post_head">
    <tr>
    {% if paginator.url_page > 0 %}
    <td class="left">  <a href="{{ url_for('view_notes.show_users', page=paginator.url_page - 1) }}" > Попередні </a> </td>
    {% endif %}

    {% if users|length == 20 %}
    <td class="right"> <a href="{{ url_for('view_notes.show_users', page=paginator.url_page + 1) }}" > Наступні </a> </td>
    {% endif %}
    </tr>
</table>

    {% endblock %}