{% extends "layout.html" %}

{% block users%}
<!-- вікно з юзерами -->
<div id="user_list"> <!-- style="display:none" -->
        Виберіть користувача:<br>
    {% for user in users %}
        <a href="{{ url_for('show_notes', user_name = user.user_name) }}"> {{ user.user_name }} </a> <br>
    {% endfor %}
</div>
{% endblock %}



{% block body %}

<!-- форма вводу тексту -->
{% if session.logged_user and
      blog_form_visible and
      view_user == session.user_name %}
<form action="{{ url_for('add_note') }}" method="post">
    {{ form.hidden_tag() }}
    <dl>
        <dd> {{ form.visible_post }}відображати пост усім
        <dd> {{ form.blog_text(rows=7, cols=70, placeholder="Текст напишіть тут. Можливе використання тегів") }}
            {% for message in form.blog_text.errors %}
            <text>{{ message }}</text>
            {% endfor %}

        <dd> {{ form.submit }}
    </dl>
</form>
{% endif %}

<!-- шапка комента -->
<ul class="entries">

    {% for note in notes %}
    {% if note.global_visible or note.user_name == session.user_name or session.logged_admin %}

    <table class="post_head">
        <li>
            <td class="left">
                <h2 class="post">
                    {{ note.user_name }}
                    {% if session.logged_admin or session.user_name == note.user_name %}
                    <!-- соус поста -->
                    <img src="{{ url_for('static', filename='img/edit.png')}}" name="edit_this_post" id="{{ note.id }}" />
                    {% endif %}
                </h2>
            </td>

            <td class="right">
                <small>
                    <form name="FormToSend_{{note.id}}" action="{{ url_for('del_note', note_id = note.id) }}"
                          method="post">

                        {% if note.global_visible and
                              blog_form_visible and
                              (note.user_name == session.user_name or
                              session.logged_admin) %}
                        <div class="visible">видно всім</div>
                        {% endif %}

                        {{ note.timestamp }}

                        {% if session.logged_admin or session.user_name == note.user_name %}
                        <!-- соус поста -->
                        <a href="{{ url_for('show_note_source', note_id = note.id) }}"> source </a>

                        <!-- кнопка видалення -->
                        <a href="{{ url_for('del_note', note_id = note.id) }}"
                           onclick="document.getElementById('delete_{{note.id}}').style.display='inline'; return false;">
                            стерти </a>
                        <span id="delete_{{note.id}}" style="display:none;">
                        <a href="#" onclick="document.FormToSend_{{note.id}}.submit();">
                            <abbr title="Видалити">
                                <!--<b class="green"> &#8730; </b>-->
                                <img src="{{ url_for('static', filename='img/trash.png') }}"/>
                            </abbr>
                        </a>
                            /
                        <a href="#" onclick="document.getElementById('delete_{{note.id}}').style.display='none'; return false;">
                            <abbr title="Відмінити">
                                <!--<b class="red"> &times; </b>-->
                                <img src="{{ url_for('static', filename='img/cancel.png') }}"/>
                            </abbr>
                        </a>
                        </span>

                        {% endif %}
                    </form>
                </small>
            </td>
    </table>


<!-- тіло комента -->
    <table class="posts">
        <td>
            <pre> {{ note.text|safe }} </pre>

            <div name="hidden_change_post" id="{{ note.id }}" class="hidden_post">
                {{ form.visible_post_source }}відображати пост усім <br>
                {{ form.blog_text_source(rows=7, cols=70, placeholder="Текст напишіть тут. Можливе використання тегів") }}<br>
                {{ form.submit_source }}
            </div>
        </td>
    </table>
    {% endif %}

    {% else %}
    <li><em>Неймовірно. Жодно запису!</em>
    {% endfor %}
</ul>


{% endblock %}