{% extends "layout.html" %}
{% block body %}

<h3>Source</h3>

{% if note %}
<b>id:</b>          {{ note[0].id }} <br>
<b>timestamp:</b>   {{ note[0].timestamp }} <br>
<b>user_name:</b>   {{ note[0].user_name }} <br>

<!-- форма для редагування -->
<form action="{{ url_for('change_note', note_id = note[0].id) }}" method="post">
    {{ form.hidden_tag() }}
    <dl>
        <dd> {{ form.visible_post }}відображати пост усім
        <dd> {{ form.blog_text(value=note[0].text, rows=7, cols=70, placeholder="Текст напишіть тут. Можливе використання тегів") }}
            {% for message in form.blog_text.errors %}
            <text>{{ message }}</text>
            {% endfor %}
        <dd> {{ form.submit(value='Змінити') }}
    </dl>
</form>


{% else %}
такий запис відсутній
{% endif %}

{% endblock %}